body {
	background-color: #69727c;
	font-family: Arial;
	font-size: 10px;
	cursor: default;
	margin: 8px;
}

nav.main ul {
	font-size: 18px;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav.main li {
	display: inline-block;
	margin: 2px;
	padding: 2px 5px;
}

nav.main .act, nav.main li:hover {
	background-color: #9ba2a9;
}

nav.main a {
	color: #d0d8e1;
	text-decoration: underline;
}

nav.main .act a {
	color: #dfe4ec;
	text-decoration: none;
}

.content {
	background-color: #fff;
	padding: 5px 0;
	margin:  10px 5px;
}

a:hover {
	color: #d43f48 !important;
}

h1 {
	font-weight: bold;
	font-size: 30px;
	padding: 15px 20px;
	margin: 0;
}

.filter {
	margin-left: 5px;
}

.filter > label {
	display: inline-block;
	position: relative;
	margin: 0 10px;
}

.filter > .search > input {
	width: 348px;
	height: 18px;
	border: 1px solid #dbdadc;
	border-top-color: #bbb9bb;
	padding: 2px 20px 0 12px;
	border-radius: 11px;
	font-size: 12px;
	box-shadow: inset 0 1px 1px #dbdadc;
	outline: none;
}

.filter .searchClear {
	height: 14px;
	width: 14px;
	background: transparent url(searchClear.png) no-repeat center center;
	position: absolute;
	right: 4px;
	bottom: 4px;
	cursor: pointer;
	display: none;
}

.filter > .search > .noEmpty + .searchClear {
	display: block;
}

.filter > label > span {
	font-weight: bold;
	font-size: 11px;
}

.filter > .kindOfActivity > select {
	width: 190px;
}

table.main {
	margin-top: 25px;
	width: 94%;
	border-collapse: collapse;
}

table.main thead.docked {
	position:     fixed;
	top:          0;
	background:   #fff;
}

table.main .dockedHelper.docked {
	height: 31px;
}

table.main th {
	position:   relative;
	font-size:  15px;
	color:      #5b5a5c;
	padding:    0 10px;
	text-align: left;
}

table.main > thead th {
	border-bottom: 2px solid #f3f6f8;
}

table.main th > span {
	padding:  4px 8px 8px 18px;
	position: relative;
	display:  inline-block;
}

table.main th > span > a {
	text-decoration: none;
	color: #5b5a5c;
	border-bottom: 1px dashed #5b5a5c;
}

table.main > tbody > tr:hover {
	background-color: #f0f7ff;
}

table.main > tbody > tr:hover > td.edit > .icon {
	display: block;
}

table.main td.edit {
	position: relative;
}

table.main td.edit > .icon {
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 10px;
	background: transparent url(pen.png) no-repeat center center;
	width: 15px;
	height: 15px;
	display: none;
}

table.main td {
	padding: 10px 0 10px 27px;
	font-size: 14px;
}

table.main td a {
	color: #689db8;
}

table.main td.empty::before {
	content: '—';
	color: #b36c7d;
}

table.main th.num, table.main td.num {
	text-align: right;
	padding-right: 0;
}

table.main th.num > span {
	padding-right: 10px;
	margin-right: -10px;
}

table.main th.unit {
	padding: 0 0 3px;
}

table.main th.sortDesc > span, table.main th.sortAsc > span {
	background-color: #f1f6fe;
}

table.main th.sortable > span > a::before {
	position: absolute;
	left:     7px;
}

table.main th.sortDesc > span > a::before {
	content: '↓';
}

table.main th.sortAsc > span > a::before {
	content: '↑';
}

.deals > * {
	display: block;
	float: left;
	color: #fff;
	font-size: 12px;
	margin: 0 4px;
	text-align: center;
	height: 16px;
	width:  16px;
	padding: 0;
}

.greenDeals {
	background-color: #95c015;
}

.yellowDeals {
	background-color: #f5b200;
}

.redDeals {
	background-color: #ff0700;
}

.manyDeals {
	border-radius: 12px;
	padding: 4px;
}

.normalDeals {
	padding: 2px;
	border-radius: 10px;
	margin: 2px 4px;
}

.fewDeals {
	border-radius: 8px;
	margin: 4px;
}

.paginator {
	font-family: Arial;
	font-size: 14px;
	margin-left: 27px;
	padding: 0;
	list-style: none;
}

.paginator > li, .paginator a {
	display: inline-block;
}

.paginator > li.current {
	background-color: #f3f2f7;
	font-weight: bold;
}

.paginator > li.current > a {
	color: #d43f48;
	cursor: default;
	text-decoration: none;
}

.paginator > li.disabled > a {
	color: #d5d5d5 !important;
	cursor: default;
}

.paginator a {
	padding: 2px 6px;
	color: #689db8;
	text-decoration: underline;
}

.paginator > li:first-child > a, .paginator > li:last-child > a {
	text-decoration: none;
}

.popupWrapper {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	background-color: rgba(0, 0, 0, .4);
	display: none;
}

.popup {
	background-color: #fff;
	width: 730px;
	height: 760px;
	margin:  30px auto;
	position: relative;
}

.popup > .closeIcon {
	width: 34px;
	height: 34px;
	background: #fff url(closePopup.png) no-repeat center center;
	cursor: pointer;
	box-shadow: 0 0 12px #999;
	position: absolute;
	right: -20px;
	top: -20px;
	border-radius: 17px;
}

.popup > .popupLeftHeader, .popup > .popupArrow {
	position: absolute;
	left: -234px;
	width: 220px;
	top: 40px;
	color: #fff;
	font-size: 17px;
	font-weight: bold;
	padding: 15px;
}

.popup > .popupArrow {
	color: #000;
	top: 90px;
	width: 225px;
	height: 25px;
}

.popup > .popupArrow > span {
	position: relative;
	z-index: 1;
}

.popup > .popupArrow > svg {
	position: absolute;
	left: 0;
	top: 0;
}