@charset "utf-8";
body {
	background-color: #69727c;
	font-family: Arial;
	font-size: 10px;
	cursor: default;
	margin: 8px;
}

nav.main ul {
	font-size: 18px;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav.main li {
	display: inline-block;
	margin: 2px;
	padding: 2px 5px;
}

nav.main .act, nav.main li:hover {
	background-color: #9ba2a9;
}

nav.main a {
	color: #d0d8e1;
	text-decoration: underline;
}

nav.main .act a {
	color: #dfe4ec;
	text-decoration: none;
}

.content {
	background-color: #fff;
	padding: 5px 0;
	margin:  10px 5px;
}

a:hover {
	color: #d43f48 !important;
}

h1 {
	font-weight: bold;
	font-size: 30px;
	padding: 15px 20px;
	margin: 0;
}

.filter {
	margin-left: 5px;
}

.filter > label {
	display: inline-block;
	position: relative;
	margin: 0 10px;
}

.filter > .search > input {
	width: 348px;
	height: 18px;
	border: 1px solid #dbdadc;
	border-top-color: #bbb9bb;
	padding: 2px 20px 0 12px;
	border-radius: 11px;
	font-size: 12px;
	box-shadow: inset 0 1px 1px #dbdadc;
	outline: none;
}

.filter .searchClear {
	height: 14px;
	width: 14px;
	background: transparent url(searchClear.png) no-repeat center center;
	position: absolute;
	right: 4px;
	bottom: 4px;
	cursor: pointer;
	display: none;
}

.filter > .search > .noEmpty + .searchClear {
	display: block;
}

.filter > label > span {
	font-weight: bold;
	font-size: 11px;
}

table.main {
	margin-top: 25px;
	width: 94%;
	border-collapse: collapse;
}

table.main thead.docked {
	position:     fixed;
	top:          0;
	background:   #fff;
	z-index: 10;
}

table.main .dockedHelper.docked {
	height: 31px;
}

table.main th {
	position:   relative;
	font-size:  15px;
	color:      #5b5a5c;
	padding:    0 10px;
	text-align: left;
}

table.main > thead th {
	white-space: nowrap;
	border-bottom: 2px solid #f3f6f8;
}

table.main th > span {
	padding:  4px 8px 8px 18px;
	display:  inline-block;
}

table.main th > span > a {
	position: relative;
	text-decoration: none;
	color: #5b5a5c;
	border-bottom: 1px dashed #5b5a5c;
}

table.main > tbody > tr:hover {
	background-color: #f0f7ff;
}

table.main > tbody > tr:hover > td.edit > .icon {
	display: block;
}

table.main td.edit {
	position: relative;
}

table.main td.edit > .icon {
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 10px;
	color: #81a4b3;
	width: 15px;
	height: 15px;
	font-size: 15px;
	display: none;
}

table.main td {
	padding: 10px 10px 10px 27px;
	font-size: 14px;
}

table.main td a {
	color: #689db8;
}

table.main td.empty::before {
	content: '—';
	color: #b36c7d;
}

table.main th.num, table.main td.num {
	text-align: right;
	padding-right: 0;
}

table.main th.num > span {
	padding-right: 10px;
	margin-right: -10px;
}

table.main th.unit {
	padding: 0 0 3px;
}

table.main th.sortDesc > span, table.main th.sortAsc > span {
	background-color: #f1f6fe;
}

table.main th.sortable > span > a::before {
	position: absolute;
	left:     -12px;
}

table.main th.sortDesc > span > a::before {
	content: '↓';
}

table.main th.sortAsc > span > a::before {
	content: '↑';
}

.popupWrapper {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 25;
	background-color: rgba(0, 0, 0, .4);
	display: none;
}

.popupWrapper.visible {
	display: block;
}

.popup {
	background-color: #fff;
	width: 730px;
	height: 760px;
	margin:  30px auto;
	position: relative;
}

.popup > .closeIcon {
	width: 34px;
	height: 34px;
	background: #fff url(closePopup.png) no-repeat center center;
	cursor: pointer;
	box-shadow: 0 0 12px #999;
	position: absolute;
	right: -20px;
	top: -20px;
	border-radius: 17px;
}

.popupForm {
	margin: 20px;
}

.popupForm ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.popupForm li {
	margin: 0 0 15px;
}

.popupForm span, .popupForm input, .popupForm textarea {
	font-family: Arial, serif;
	font-size: 13px;
	height: 18px;
}

.popupForm input:not([type]), .popupForm input[type="text"] {
	background-color: transparent;
	border: 1px solid;
	border-color: #7c7c7c #c3c3c3 #ddd;
	box-shadow: inset 0 1px 2px 0 #c3c3c3;
	width: 179px;
	padding: 0 2px;
}

.popupForm input[type="submit"], .popupForm input[type="button"] {
	height: 21px;
	cursor: pointer;
}

.popupForm input[type="button"] {
	position: absolute;
	bottom: 1px;
	height: 19px;
	padding-top: 0;
}

.popupForm input[type="submit"] {
	font-size: 11px;
	margin: 0;
}

.popupForm label {
	display: block;
}

.popupForm .label {
	display: block;
	width: 165px;
	float: left;
}

.popupForm .inputFields {
	display: inline-block;
	width: 405px;
	clear: both;
}

.popupForm .inputFields div {
	position: relative;
}

.popupForm .inputFields div:not(:first-child)  {
	margin-top: 5px;
}

.popupForm .formName, .popupForm textarea {
	width: 399px !important;
}

.popupForm textarea {
	height: 49px;
	padding: 2px;
	border: 1px solid #7c7c7c;
}

.popupForm .formAge {
	text-align: right;
	width: 49px !important;
}

.popupForm .formAgeText {
	margin-left: 7px;
}

.popupForm .formSalary {
	width: 79px !important;
	text-align: right;
}

.sliderWrapper {
	position: relative;
	display: inline-block;
	height: 20px;
}

.sliderWrapper .minData, .sliderWrapper .maxData, .sliderWrapper .sliderIcon {
	height: 16px;
	bottom: -16px;
	position: absolute !important;
	font-size: 8px;
	-moz-user-select:    none;
	-webkit-user-select: none;
	-khtml-user-select:  none;
}

.sliderWrapper .minData {
	right: 105%;
}

.sliderWrapper .maxData {
	left: 105%;
}

.sliderWrapper .sliderIcon {
	bottom: -17px;
	margin: 0 -4px;
	width: 9px;
	background: transparent url(slider_icon9.png) center top no-repeat;
	cursor: e-resize;
}

.horizontalSlide * {
	cursor: e-resize !important;
}