body {
	background-color: #69727c;
	font-family: Arial;
	font-size: 10px;
}

nav.main ul {
	font-size: 18px;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav.main li {
	display: inline-block;
	margin: 2px;
	padding: 2px 5px;
}

nav.main .act, nav.main li:hover {
	background-color: #9ba2a9;
}

nav.main a {
	color: #d5dce5;
	text-decoration: underline;
}

nav.main .act a {
	text-decoration: none;
}

.content {
	background-color: #fff;
	padding: 5px;
	margin:  10px 5px;
}

h1 {
	font-weight: bold;
	font-size: 30px;
	margin: 10px;
}

.filter label {
	display: inline-block;
	position: relative;
}

.filter .search {
	width: 348px;
	height: 19px;
	border: 1px solid #dbdadc;
	padding: 2px 20px 0 12px;
	border-radius: 11px;
	font-size: 12px;
	box-shadow: inset 0 1px 1px #bbb9bb;
	outline: none;
}

.filter .searchClear {
	height: 14px;
	width: 14px;
	background: transparent url(searchClear.png) no-repeat center center;
	position: absolute;
	right: 5px;
	top: 5px;
}